// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$primary-color: #6cb946;

html {
    background: none;
    background-color: #fff;
}

body {
    >header {
        padding: 10px;
        background: none;
        background-color: #fff;
    }
    >nav {
        padding-left: 10px;
        background: none;
        background-color: #fff;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        margin-top: 10px;

        form .search {
            background: none;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 0;
        }
    }
    >div {
        background: none;
        >div {
            background: none;
            background-color: #fff;
            border-color: $primary-color;
        }
    }
    >footer {
        background: none;
        background-color: #fff;
        border-color: $primary-color;
        text-align: center;
    }
}

body>header h1 a,
body>header h1 a:visited,
body>header h1 a:hover {
    color: #252525;
    text-decoration: none;
}

aside.sidebar a:hover {
    color: $primary-color;
}

#content .blog-index article {
    padding: 10px;
    padding-right: 20px;
    h1 a:hover {
        color: $primary-color;
    }
}

.toggle-sidebar {
    color: $primary-color;
    &:after {
        border-color: $primary-color;
        background: none;
        background-color: #fff;
    }
}
